TZ=Asia/Shanghai

POSTGRES_DB=omnigate
POSTGRES_USER=omnigate
POSTGRES_PASSWORD=ChangeThisPostgresPassword

REDIS_DATABASE=0

OMNIGATE_JWT_SECRET=ChangeThisJwtSecretAtLeast32Chars
OMNIGATE_JWT_ACCESS_EXPIRE_MINUTES=30
OMNIGATE_JWT_REFRESH_EXPIRE_DAYS=7

FRONTEND_BIND_HOST=0.0.0.0
FRONTEND_PORT=80
FRONTEND_API_BASE_URL=/api
FRONTEND_TASK_LOG_WS_URL=/ws/task-log

HOST_NGINX_ENABLE=false
HOST_NGINX_SERVER_NAME=_
HOST_NGINX_CONFIG_PATH=/etc/nginx/conf.d/omnigate.conf
HOST_NGINX_CLIENT_MAX_BODY_SIZE=20m

WORKER_INSTANCE_ID=worker-1
TASK_STREAM=task_stream
TASK_LOG_STREAM=task_log_stream
TASK_STREAM_GROUP=worker_group
TASK_STREAM_BLOCK_MS=2000
TASK_STREAM_READ_COUNT=10
TASK_STREAM_CLAIM_IDLE_MS=60000
TASK_STREAM_CLAIM_COUNT=10
TASK_STREAM_CLAIM_INTERVAL_MS=3000
TASK_LOG_STREAM_MAXLEN=10000
WORKER_CONCURRENCY=3
WORKER_MAX_CONCURRENCY_LIMIT=10
HEARTBEAT_INTERVAL_SECONDS=30
RETRY_MAX_ATTEMPTS=3
RETRY_DELAY_SECONDS=10
WORKER_SHM_SIZE=1gb
BROWSER_HEADLESS=true
BROWSER_SANDBOX=false
BROWSER_ARGS=--disable-dev-shm-usage,--no-first-run,--disable-gpu,--disable-software-rasterizer
BROWSER_PROXY=
BROWSER_USER_DATA_DIR=
JAVA_OPTS=
